

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
body {
                padding-top: 50px;
                padding-bottom: 20px;
            }

section {
		margin-top: 50px;
		margin-bottom: 50px;	
}


.navbar-back {
	height: 50px;
}

.navbar-back p {
	padding-top: 15px;
}

.navbar-back a {
	color: #ffffff;	
	text-decoration: none;
}

.navbar-back a:hover {
	text-decoration: underline;	
}